@font-face {
    @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
}

.morning-gradient {
    background: #f6d365;
    background: linear-gradient(to right, #f6d365, #fda085);
}

.day-gradient {
    background: #076585;
    background: linear-gradient(to right, #076585, #fff);
}

.night-gradient {
    background: #1e3c72;
    background: linear-gradient(to right, #1e3c72, #1e3c72, #2a5298);
}

body {
    font-family: "IBM Plex Sans Serif", sans-serif;
}

p {
    font-size: 1.5rem;
}

.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
    min-height: 100vh;
}

.weather-form {
    margin: 1rem;
}

.city-input {
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    border: 0.2rem solid black;
    border-radius: 10px;
    margin: 2rem;
    max-width: 75%;
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 2rem;
    background-color: #1e3c72;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #2a5298;
    }
}

.card {
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    padding: 3rem;
}

.city-display,
.temp-display {
    font-size: 3.5rem;
}

.humidity-display {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}

.description-display {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weather-emoji {
    font-size: 7.5rem;
}

.error-display {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}
